
@import url("https://use.typekit.net/hjs4cjc.css");

/* font-family: tablet-gothic, sans-serif; 400, 600, 700
font-family: astoria, sans-serif;  200, 300, ?600?
also italic */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-main: astoria, sans-serif;
    --ff-bold: tablet-gothic, sans-serif;
}

/* .mainText {
    font-family: var(--ff-main);
    font-weight: 200;
}

.boldText {
    font-family: var(--ff-bold);
    font-weight: 900;
} */

body {
    font-family: var(--ff-main);
    font-size: 16px;
    font-weight: 200;
}

.container {
    width: 100%;
    height: 100%;
}

/* global button style reset */
button {
    background: inherit;
    color: inherit;
    outline: none;
    border: none;
}

/* global link style reset */
a {
    color: inherit;
}
