.header {
    /* background-color: aqua; */
    
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.top {
    display: flex;
}

.square {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--clr-main);
    margin: 0.5em;
}

.headerTitle, .plus {
    font-family: var(--ff-bold);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.headerTitle {
}

.plus {
    margin-left: auto;
    margin-right: 1rem;
    justify-self: end;
}

.navBar {
    background: var(--clr-bg);
    transform: translateX(100%) scaleY(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
}

.navBarActive {
   transform: translateX(0) scaleY(1);
   
}

.nav {
    /* background: chartreuse; */
    padding: 0.5em;
    display: flex;
    justify-content: space-evenly;
    /* below is just temporary before they're links */
    font-weight: 300;
    text-decoration: underline;
}

.filterBar {
    /* background: chartreuse; */
    display: flex;
    justify-content: space-evenly;
    /* below is just temporary before they're links */
    font-weight: 300;
    text-decoration: underline;
    opacity: 0;
    transition: 300ms opacity ease-in-out;
    padding-bottom: 1em;
}

.filterBarActive {
    opacity: 1;
}


@media screen and (min-width: 600px) {
    .navBar {
        font-size: 1.5rem;
    }
    .square {
        width: 2rem;
        height: 2rem;
        background: var(--clr-main);
        margin: 0.5em;
    }
    
    .headerTitle, .plus {
        font-family: var(--ff-bold);
        font-size: 2rem;
        font-weight: var(--fw-bold);
        text-transform: uppercase;
    }
    
}

@media screen and (min-width: 600px) {

}